<!DOCTYPE html>
<head>
    <title>Very simple memcache</title>
</head>
<html>
    <body>

        <form action="{{ url_for('testGet')}}" method="post">
            <label>key:</label>
            <input type="text" name="key" required/>
            <input type="submit"/>
        </form>

        <form action="{{ url_for('testPut')}}" method="post" enctype="multipart/form-data">
            <label>key:</label>
            <input type="text" name="key" required/>
            <label>Img:</label>
            <input type="file" name="myImg" accept="image/*" required/>
            <input type="submit"/>
        </form>

        <form action="{{ url_for('clear')}}" method="post">
            <input type="submit"/>
        </form>

        <form action="{{ url_for('invalidateKey')}}" method="post">
            <label>key:</label>
            <input type="text" name="key" />
            <input type="submit"/>
        </form>

        <form action="{{ url_for('refreshConfiguration')}}" method="post">
            <input type="submit" value="refresh" />
        </form>

        <img src="data:;base64,{{ image }}" alt="Uploaded Image">

    </body>
</html>