{% extends "base.html" %}
{% block content %}
    <h1>Memcache Setting</h1>
    <form action="/SetConfig"  enctype="multipart/form-data" method="post">
      Capacity <input type="text" name="capacity" required>MB<br />
      Replacement Policy
      <select name="policy">
          <option value="Random" selected="selected">Random Replacement</option>
          <option value="LRU">Least Recently Used</option>
      </select>
      

      <input type="submit" value="Send">
    </form>
    <form action="/ClearMem" method="post">
      <input type="submit" value="Clear Memcache">
    </form>
{% endblock %}